body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: bolder;
  color: #ec6e4c;
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
}

footer {
  text-align: center;
  color: #2d4059;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.button {
  background-color: none;
  padding: none;
  border: none;
  color: none;
}

.app-container {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 20px;
  max-width: 800px;
  padding: 50px;
  border: 1px solid #2d4059;
  border-radius: 10px;
  background-color: #decdc3;
}

.weather-forecast {
  margin-top: 30px;
}

.weather-forecast h3 {
  font-size: 15px;
  text-align: center;
  margin: 0;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperature {
  text-align: center;
  font-size: 14px;
}

#local-info {
  color: #2d4059;
  font-size: 25px;
  text-align: center;
}

#data-desc {
  color: #2d4059;
  font-size: 25px;
  text-align: center;
}

#description {
  text-transform: capitalize;
}
