body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: bold;
  color: #6155a6;
  text-align: center;
  margin-bottom: 50px;
  font-size: 60px;
}

footer {
  text-align: center;
  color: #6155a6;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
.app-container {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 30px;
  max-width: 800px;
  padding: 50px;
  border: 1px solid #a685e2;
  border-radius: 10px;
}

.weather-forecast {
  margin-top: 30px;
}

.weather-forecast h3 {
  font-size: 20px;
  text-align: center;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperature {
  text-align: center;
  font-size: 18px;
}

#local-info {
  color: #6155a6;
  font-size: 30px;
}

#data-desc {
  color: #6155a6;
  font-size: 30px;
}

#description {
  text-transform: capitalize;
}
